{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="container mt-4">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="">Expenses</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Add Expenses</li>
        </ol>
      </nav>

      <div class="card">
        <div class="card-body">
            <form action="">
                {% csrf_token %}
            </form>
        </div>
      </div>

  </div>
{% endblock %}
