{% extends "base.html" %}


{% load static %}

{% block content %}
<div class="container mt-5">

    <div class="row">
        <div class="col-md-10">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="">Expenses</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                My Expenses
              </li>
            </ol>
          </nav>
        </div>

</div>
{% endblock %}
